# Dependencies
node_modules

# Build output
.next
out
build
dist

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
