@import "tailwindcss";

@font-face {
  font-family: "Kinetika";
  src: url("/fonts/Kinetika-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kinetika";
  src: url("/fonts/Kinetika-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlbertusNova";
  src: url("/fonts/AlbertusNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-kinetika: "Kinetika", sans-serif;
  --font-albertus: "AlbertusNova", serif;
}

@theme inline {
  --color-dark-black: #090806;
  --color-dark: #1E1E1E;
  --color-white: #FFFFFF;
  --color-accent: #8D7E65;
  --color-gray: #81807D;
}

html,
body {
  font-family: var(--font-kinetika);
  background: var(--color-dark);
  color: var(--color-white);
}

.font-albertus {
  font-family: var(--font-albertus);
}
